/*
 * default.css
 * ~~~~~~~~~~~
 *
 * Sphinx stylesheet -- Roundcube theme
 *
 * :copyright: Copyright 2013 by the Roundcube Dev Team
 * :license: Creative Commons Attribution-ShareAlike
 *
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: small;
    background: #efefef;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 130%;
}

div.banner {
    margin: 0 0 3px 0;
    padding: 10px 0;
    height: 40px;

    background: #d8edfd;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjhmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkN2VjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f1f8fc 0%, #d7ecfc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f8fc), color-stop(100%,#d7ecfc));
    background: -webkit-linear-gradient(top, #f1f8fc 0%, #d7ecfc 100%);
    background: -o-linear-gradient(top, #f1f8fc 0%, #d7ecfc 100%);
    background: -ms-linear-gradient(top, #f1f8fc 0%, #d7ecfc 100%);
    background: linear-gradient(to bottom, #f1f8fc 0%, #d7ecfc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f8fc', endColorstr='#d7ecfc', GradientType=0);
    box-shadow: rgba(25, 25, 25, 0.2) 0 1px 3px;
}

h1.banner-logo {
    font-size: 20px;
    font-weight: normal;
    color: #333;
    margin: 0 0 8px 0;
    padding: 0;
}

div.bannerwrapper,
div.documentinner,
div.footline div.related {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 960px;
}

div.document {
    padding: 5px 0;
    background: #fff;
}

div.documentwrapper {
    float: left;
    width: 72%;
}

div.bodywrapper {
}

div.body {
    background-color: #fff;
    color: #000;
    padding: 0 20px 30px 0;
}

div.footer {
    width: 100%;
    padding: 9px 0 9px 0;
    text-align: center;
    font-size: 75%;
    border-top: 1px solid #ccc;
}

div.footer a {
    text-decoration: underline;
}

div.footline {
    background: #e2e2e2;
    border-top: 1px solid #ccc;
}

div.related {
    background: none;
    padding: 6px 20px;
    width: auto;
    min-height: 16px;
    font-size: inherit;
}

div.banner div.related {
    padding: 0;
    background: none;
    border: 0;
}

div.related ul {
    padding: 0;
}

div.related a {
    color: #666;
    text-transform: capitalize;
}

div.sphinxsidebar {
    float: right;
    margin: 0;
    width: 26%;
}

div.sphinxsidebarwrapper {
    padding: 10px;
    background: #efefef;
}

div.sphinxsidebar h3 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #333;
}

div.sphinxsidebar h3 a {
    color: #333;
}

div.sphinxsidebar h4 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
    color: #333;
}

div.sphinxsidebar p {

}

div.sphinxsidebar p.topless {
    margin: 5px 10px 10px 10px;
}

div.sphinxsidebar ul {
    margin: 10px;
    padding: 0;
}

div.sphinxsidebar input {
    border: 1px solid #98dbcc;
    font-family: sans-serif;
    font-size: 1em;
    padding: 4px 8px;
}



/* -- hyperlink styles ------------------------------------------------------ */

a {
    color: #0069a6;
    text-decoration: none;
}

a:visited {
    color: #355f7c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* -- body styles ----------------------------------------------------------- */

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    color: #333;
    margin: 30px 0 10px 0;
    padding: 5px 0;
}

div.body h1 {
    font-weight: normal;
    font-size: 190%;
    border-bottom: 1px solid #ddd;
}
div.body h2 {
    font-size: 130%;
}
div.body h3 {
    font-size: 110%;
    margin-bottom: 0;
}
div.body h4 {
    font-size: 100%;
    margin-bottom: 0;
}

div.body h1:first-child,
div.body div.section:first-child h1 {
    margin-top: 10px;
}

em {
    font-weight: bolder;
    color: #666;
    padding-right: 0.1em;
}

a.reference em {
    font-weight: normal;
    color: inherit;
}

a.headerlink {
    color: #0069a6;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: #0069a6;
    color: #fff;
}

div.body p, div.body dd, div.body li {
    text-align: justify;
    line-height: 130%;
    clear: both;
}

div.body p img {
    vertical-align: middle;
}

div.body div.hint,
div.body div.note {
    color: #444;
    background-color: #def3fe;
    border: 1px solid #c5d7e0;
    padding: 8px;
}

div.body div.note {
    color: #000;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.admonition p {
    margin-bottom: 5px;
}

div.admonition pre {
    margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
    margin-bottom: 5px;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

div.image-left img {
    float: left;
    margin-right: 1em;
}

div.image-left p {
    display: inline;
    clear: left;
}

div.image-right img {
    float: right;
    margin-left: 1em;
}

div.image-right p {
    display: inline;
    clear: right;
}

pre {
    padding: 5px;
    background-color: #eeffcc;
    color: #333333;
    line-height: 120%;
    border: 1px solid #ac9;
    border-left: none;
    border-right: none;
}

tt {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 0.95em;
}

th {
    background-color: #ede;
}

.warning tt {
    background: #efc2c2;
}

.note tt {
    background: #d6d6d6;
}

.viewcode-back {
    font-family: sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}